[Desktop Entry]
Type=Application
Exec=/usr/local/bin/monitor-hotplug.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Setup external monitor
Name=Setup external monitor
Comment[en_US]=
Comment=

